<link rel="stylesheet" type="text/css" href="style.css">
<h1>Hi,<% name %>do you want to logout</h1>
<form action="/logout?_method=DELETE" method="" POST>
  <button type="submit" class="btn">Log Out</button>
</form>
